.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

button {
    margin: 0 auto;
}

label  {
    font-weight: bold;
    font-size: 16;
}

svg
{
    margin: auto;
    display: block;
}