.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}
.text {
    font-size: 11px;
}
svg
{
    margin: auto;
    display: block;
}